/* CSS */

.wrapper{display: flex;}

.aside-set-01{width: 20%; padding: 0 0.5rem;background-color: lightgray;}

.box-set-000{border: 1px solid black;}
.box-set-001{height: 30vh; background-color: rgb(180, 220, 180);}
.box-set-002{width: 20vw; border: 1px solid black;}
.box-set-003{width: 77%; padding-left: 0.5rem;}
.box-set-004{width: 77%; height: 30vh; padding-left: 0.5rem;}

.text-set-001{font-size: 50px; text-align: center;}

.text-align-l{text-align: left;}
.text-align-r{text-align: right;}
.text-align-c{text-align: center;}
.text-align-j{text-align: justify;}
.word-wrap{word-wrap: break-word; word-break: keep-all;}

.font-Arial{font-family: Arial, Helvetica, sans-serif;}
.font-Georgia{font-family: Georgia, 'Times New Roman', Times, serif;}
.font-Verdana{font-family: Verdana, Geneva, Tahoma, sans-serif;}
.font-serif{font-family: serif;}
.font-sans-serif{font-family: sans-serif;}
.font-monospace{font-family: monospace;}


.col_black{color: black;}
.col_gray{color: gray;}
.col_darkgray{color: darkgray;}
.col_silver{color: silver;}
.col_lightgray{color: lightgray;}
.col_snow{color: snow;}
.col_white{color: white;}
.col_ivory{color: ivory;}
.col_beige{color: beige;}
.col_khaki{color: khaki;}
.col_darkkhaki{color: darkkhaki;}
.col_olive{color: olive;}
.col_darkolivegreen{color: darkolivegreen;}
.col_seagreen{color: seagreen;}
.col_darkgreen{color: darkgreen;}
.col_green{color: green;}
.col_lightgreen{color: lightgreen;}
.col_greenyellow{color: greenyellow;}
.col_yellowgreen{color: yellowgreen;}
.col_yellow{color: yellow;}
.col_gold{color: gold;}
.col_goldenrod{color: goldenrod;}
.col_darkgoldenrod{color: darkgoldenrod;}
.col_darkorange{color: darkorange;}
.col_orange{color: orange;}
.col_orangered{color: orangered;}
.col_tomato{color: tomato;}
.col_lightcoral{color: lightcoral;}
.col_salmon{color: salmon;}
.col_rosybrown{color: rosybrown;}
.col_brown{color: brown;}
.col_maroon{color: maroon;}
.col_darkred{color: darkred;}
.col_red{color: red;}
.col_hotpink{color: hotpink;}
.col_pink{color: pink;}
.col_plum{color: plum;}
.col_violet{color: violet;}
.col_orchid{color: orchid;}
.col_darkorchid{color: darkorchid;}
.col_magenta{color: magenta;}
.col_darkmagenta{color: darkmagenta;}
.col_purple{color: purple;}
.col_navy{color: navy;}
.col_darkblue{color: darkblue;}
.col_blue{color: blue;}
.col_royalblue{color: royalblue;}
.col_cadetblue{color: cadetblue;}
.col_skyblue{color: skyblue;}
.col_lightblue{color: lightblue;}
.col_lightcyan{color: lightcyan;}
.col_cyan{color: cyan;}
.col_darkcyan{color: darkcyan;}
.col_aquamarine{color: aquamarine;}
